.section {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.img {
  max-width: 450px;
}

.img img {
  border-radius: 8px;
}

.conteudoInfo {
  max-width: 600px;
}

.conteudoInfo h3 {
  font-size: 3rem;
  color: #0a490a;
}

.conteudoInfo p {
  margin-top: 50px;
  font-size: 1.2rem;
}

@media (max-width: 900px) {
  .section {
    flex-direction: column-reverse;
    align-items: center;
  }
}
